<launch>

  <!-- this opens gazebo -->
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" />

  <!-- this put robot in gazebo world -->
  <arg name="robot_model" default="$(find rrr_description)/urdf/rrr_bot.urdf"/>

  <!-- Load universal robot description format (URDF) -->
  <param name="robot_description" textfile="$(arg robot_model)"/>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node 
    name="urdf_spawner" 
    pkg="gazebo_ros" type="spawn_model" 
    args="-urdf -param robot_description -model rrr_bot -x 0 -y 0 -z 0.0" 
    respawn="false" output="screen" />


</launch>